@import 'index.scss';
.dtc-wapper{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #363b46, #15171c);
}
.dtc-wapper-inner{
    margin: auto;
    padding-top: 25px;
    width: 95%;
    
}